	
      
      <div id="sidebar" class="app-sidebar">
        <!-- BEGIN scrollbar -->
        <div data-scrollbar="true" data-height="100%">
          <!-- BEGIN nav -->
          <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub">
              <a href="#">
                  <span class="nav-icon"><i class="fa fa-list-ul bg-gradient-red text-white"></i> </span>
                  <span class="nav-text" routerLink='/dashboard'>Apply Loan</span>
                  <span class="nav-caret"><b class="caret"></b></span>
              </a>
           
               <!-- <ul class="nav-submenu">
                  <li class="has-sub">
                      <a href="#" id="expand-ul">
                          <span class="nav-text">Apply Loaqn</span>
                          <span class="nav-caret"><b class="caret"></b></span>
                      </a> -->
                     <!-- <ul class="nav-submenu opened" style="display:none">
                          <li><a href="#"><span class="nav-text"> View New or Make Survey Done a New LT NSC Application</span></a></li>
                          <li><a href="#"><span class="nav-text"> Update Status To Payment Done of NSC Application</span></a></li>
                      </ul>
                  </li>
                  <li class="has-sub">
                    <a href="#" id="expand-ul" routerLink='/meter-replacement'>
                        <span class="nav-text">Meter Replacement Application</span>
                        <span class="nav-caret"><b class="caret"></b></span>
                    </a>
                    <ul class="nav-submenu opened" style="display:none">
                        <li><a href="#" routerLink='/view-new-applications'><span class="nav-text"> View New Applications</span></a></li>
                        <li><a href="#"><span class="nav-text"> View Messaged Applications & close</span></a></li>
                    </ul>
                </li>
                  <li class="has-sub">
                    <a href="#" id="expand-ul" routerLink='/cable-replacement'>
                        <span class="nav-text">Cable Replacement Application</span>
                    </a>            
                </li>
                <li class="has-sub">
                  <a href="#" id="expand-ul" routerLink='/permanent-disconnections'>
                      <span class="nav-text">Permanent Disconnection Application</span>
                  </a>            
              </li>
               </ul>
             </li> 
          
             <li class="has-sub">
              <a href="#">
                <span class="nav-icon"><i class="fa fa-plug bg-gradient-orange text-white"></i> </span>
                <span class="nav-text">(TC TO PC)NSC Agriculture</span>
                <span class="nav-caret"><b class="caret"></b></span>
              </a>
              <ul class="nav-submenu">
                <li><a href="email_inbox.html">Inbox</a></li>
                <li><a href="email_compose.html">Compose</a></li>
                <li><a href="email_detail.html">Detail</a></li>
              </ul>
            </li>
              <li class="has-sub">
              <a href="#">
                <span class="nav-icon"><i class="fa fa-file bg-gradient-green text-white"></i> </span>
                <span class="nav-text">Agriculture P4 By App</span>
                <span class="nav-caret"><b class="caret"></b></span>
              </a>
              <ul class="nav-submenu">
                <li><a href="email_inbox.html">Inbox</a></li>
                <li><a href="email_compose.html">Compose</a></li>
                <li><a href="email_detail.html">Detail</a></li>
              </ul>
            </li>
              <li class="has-sub">
              <a href="#">
                <span class="nav-icon"><i class="fa fa-credit-card bg-gradient-purple text-white"></i> </span>
                <span class="nav-text">Urjas Online Varified Payments Details</span>
                <span class="nav-caret"><b class="caret"></b></span>
              </a>
              <ul class="nav-submenu">
                <li><a href="email_inbox.html">Inbox</a></li>
                <li><a href="email_compose.html">Compose</a></li>
                <li><a href="email_detail.html">Detail</a></li>
              </ul>
            </li>	
            <li class="has-sub">
              <a href="#">
                <span class="nav-icon"><i class="fa fa-clock bg-gradient-blue text-white"></i> </span>
                <span class="nav-text">Temporary Agriculture Connection On Spot</span>
                <span class="nav-caret"><b class="caret"></b></span>
              </a>
              <ul class="nav-submenu">
                <li><a href="email_inbox.html">Inbox</a></li>
                <li><a href="email_compose.html">Compose</a></li>
                <li><a href="email_detail.html">Detail</a></li>
              </ul>
            </li>									
              <li>
              <a href="analytics.html">
                <span class="nav-icon"><i class="fa fa-desktop bg-gradient-red text-white"></i></span>
                <span class="nav-text">Applications Pending For Extensional Work</span>
              </a>
            </li>
              <li>
              <a href="analytics.html">
                <span class="nav-icon"><i class="fa fa-print bg-gradient-orange text-white"></i></span>
                <span class="nav-text">Get Print Of Demand Note Of NSC LT</span>
              </a>
            </li>	
            <li>
              <a href="analytics.html">
                <span class="nav-icon"><i class="fa fa-reply-all bg-gradient-green text-white"></i></span>
                <span class="nav-text">Get Print Of Meter Replacement Report</span>
              </a>
            </li>
            <li>
              <a href="analytics.html">
                <span class="nav-icon"><i class="fa fa-registered bg-gradient-purple text-white"></i></span>
                <span class="nav-text">View List Of Mobile No. Registration Consumers</span>
              </a>
            </li>
            <li>
              <a href="analytics.html">
                <span class="nav-icon"><i class="fa fa-eye bg-gradient-blue text-white"></i></span>
                <span class="nav-text">View DC Wise Count For Group Incharge Bill Correction </span>
              </a>
            </li>
            <li>
              <a href="" routerLink='/home'>
                <span class="nav-icon"><i class="fa fa-mobile-alt bg-gradient-red text-white"></i></span>
                <span class="nav-text"> Send SMS To Any Applicant</span>
              </a>
            </li> -->
            
          </ul>
          <!-- END nav -->
        </div>
        <!-- END scrollbar -->
      </div>
      